body {
    font-family: "Nunito", sans-serif;
}

.content {
    margin-top: 8px;
    margin-bottom: 8px;
}

#mapViewer {
    border: 1px solid grey;
}

.icon-action {
    margin-top: 5px;
    float: right;
    font-size: 80%;
}

.icon {
    margin-top: 5px;
    float: right;
    font-size: 80%;
}